*{
    background-color: black;
    color: white;
}

.main__container{
    display: grid;
    grid-template-areas: "result result result"
    "top top top"
    "numbers numbers side"
    "numbers numbers side";
    .container__display{
        font-size: 60px;
        display:flex;
        grid-area:result;
    }

    .container__top-buttons{
        font-size: 40px;
        display: flex;
        grid-area: top;
        justify-content: space-around;
        .button{
            border:2px solid red;
        }
    }

    .container__number-buttons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-area:numbers;
        font-size:40px;
        .button{
            border:2px solid red;
        }
    }

    .container__side-buttons{
        display: flex;
        flex-direction: column;
        grid-area: side;
        font-size: 40px;
        .button{
            border:2px solid red;
        }
    }
}

